<ion-view title="atHome" id="page7">
  <ion-content class="has-header" padding="true">
    <form class="list" id="atHome-form2">
      <ion-list id="atHome-list3">
        <label class="item item-input" id="atHome-input5">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input6">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="(123)456-7890">
        </label>
        <label class="item item-input" id="atHome-input7">
          <span class="input-label">address</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input8">
          <span class="input-label">street</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input9">
          <span class="input-label">city</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input10">
          <span class="input-label">state</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input11">
          <span class="input-label">zip</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="atHome-input12">
          <span class="input-label">notes</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button class="button button-stable button-block icon-left ion-android-add-circle" id="atHome-button9">Add</button>
    </form>
  </ion-content>
</ion-view>