<ion-view title="House 2 House" id="page3">
  <ion-content class="has-header" padding="true" scroll="false">
    <ion-slides id="house2House-slider1" style="width:100%;height:200px;" delegate-handle="slider1" slider="slider1" options="{'loop': false}" disable-side-menu-drag="">
      <ion-slide-page id="house2House-slide24" style='background:url("img/avfsZwJT9WGsBj982ul1_kitten1.jpg") no-repeat center;background-size:cover;'></ion-slide-page>
      <ion-slide-page id="house2House-slide25" style='background:url("img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg") no-repeat center;background-size:cover;'></ion-slide-page>
      <ion-slide-page id="house2House-slide26" style='background:url("img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg") no-repeat center;background-size:cover;'></ion-slide-page>
    </ion-slides>
    <form class="list" id="house2House-form1">
      <label class="item item-input" id="house2House-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="house2House-textarea2">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="house2House-textarea3">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>