<ion-view title="my goals" id="page6">
  <ion-content class="has-header" padding="true">
    <form class="list" id="myGoals-form2">
      <ion-list id="myGoals-list1">
        <label class="item item-input" id="myGoals-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="myGoals-list-item-divider1"> email</ion-item>
        <label class="item item-input" id="myGoals-input4">
          <span class="input-label">address</span>
          <input type="email" placeholder="you@isp.com">
        </label>
        <label class="item item-input" id="myGoals-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="password">
        </label>
      </ion-list>
      <ion-item class="item-divider" id="myGoals-list-item-divider2"> Secretary</ion-item>
      <ion-toggle id="myGoals-toggle3" toggle-class="toggle-positive">auto-send report?</ion-toggle>
      <label class="item item-input" id="myGoals-input7">
        <span class="input-label">email address</span>
        <input type="email" placeholder="elder@kh.com">
      </label>
      <ion-item class="item-divider" id="myGoals-list-item-divider3"> goals</ion-item>
      <ion-item class="range range-positive" id="myGoals-range1">monthly goal
        <input type="range" min="0" max="100" step="1" value="12">
      </ion-item>
      <button class="button button-stable button-block" id="myGoals-button7">Sign up</button>
    </form>
  </ion-content>
</ion-view>