<ion-view title="Signup" id="page5">
  <ion-content class="has-header" padding="true" scroll="false">
    <form class="list" id="signup-form1">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="john doe">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Email</span>
          <input type="email" placeholder="you@provider.com">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="password">
        </label>
      </ion-list>
      <ion-item class="range range-positive" id="signup-range1">Monthly goal
        <input type="range" min="1" max="100" step="1" value="50">
      </ion-item>
      <label class="item item-input" id="signup-input4">
        <span class="input-label">Secretaries Name</span>
        <input type="text" placeholder=" Bro james secrit">
      </label>
      <ion-toggle id="signup-toggle1" toggle-class="toggle-positive">Automatically turn in time?</ion-toggle>
      <button class="button button-stable button-block" id="signup-button3">submit</button>
    </form>
  </ion-content>
</ion-view>