<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="timer" id="tabsController-tab1" href="#/page1/page2" icon="ion-clock">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="house 2 house " id="tabsController-tab2" href="#/page1/page3" icon="ion-ios-home">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="report" id="tabsController-tab3" href="#/page1/page4" icon="ion-edit">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="RVs" id="tabsController-tab4" href="#/page1/page7" icon="ion-android-contact">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>