<ion-view title="Settings" id="page8">
  <ion-nav-buttons class="has-header" side="right" scroll="false">
    <button class="button button-icon icon ion-gear-b"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true" scroll="false">
    <form class="list" id="settings-form3">
      <ion-toggle id="settings-toggle2" toggle-class="toggle-positive">auto send report</ion-toggle>
      <ion-toggle id="settings-toggle3" toggle-class="toggle-positive" ng-checked="true">location</ion-toggle>
    </form>
  </ion-content>
</ion-view>